@media screen and (min-width: 1200px) {
  .top_nav {
    display: none; } }

@media screen and (max-width: 992px) {
  .top_nav {
    display: none; }
  .price {
    display: none; } }

@media screen and (max-width: 768px) {
  .top_nav {
    position: absolute;
    width: 100px;
    right: -15px;
    top: 20px;
    position: fixed;
    display: none; }
    .top_nav li {
      margin: 15px auto 15px auto; }
  .price {
    display: none; } }

/* Small devices  sm  */
@media screen and (max-width: 380px) {
  .out_btn {
    display: block;
    position: fixed;
    right: 25px; }
  .top_nav {
    position: absolute;
    width: 100px;
    right: -15px;
    top: 20px;
    position: fixed;
    display: none; }
    .top_nav li {
      margin: 15px auto 15px auto; }
  .brands li {
    padding-top: 15px; }
  .price {
    display: none; } }
